@font-face {
  font-family: "Questa Sans";
  src: url("../assets/Questa_Sans.woff");
}

#pl_complete_list {
  position: relative;
  z-index: 30;

  width: inherit;

  padding: 0;
  margin: 0;
  list-style: none;
}

.pl_wrapper {
  width: inherit;
}

.pl_title {
  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;

  padding-left: 1em;

  cursor: pointer;

  color: #888888;
  font-family: "Questa Sans", Arial;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.pl_selected {
  background-color: purple;
}

.pl_divider {
  display: block;

  height: 2px;
}

#pl_slider {
  position: absolute;
  top: 0;
  z-index: -10;
  background-color: rgba(200, 200, 200, 0.3);

  width: 120%;
  height: 50px;
}
