#pl_complete_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pl_wrapper {
  width: inherit;
}

.pl_title {
  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;

  padding-left: 1em;

  cursor: pointer;
}

.pl_selected {
  background-color: purple;
}

.pl_divider {
  display: block;

  height: 5px;
}
