<article id="display_wrapper">
    <h1 id="display_title">
        {{dataService.getSelectedProject()?.name}}
    </h1>

    <div id="display_allinfo">
        <div id="display_text">
            <h2 id="display_desc">
                {{dataService.getSelectedProject()?.desc}}
            </h2>

            <div id= "display_inside_section_divider" class="display_section_divider">
            </div>

            <div id="display_clickable_inside" class="display_clickable">
                <ul class="display_links">
                    <a [href]="link.destination" *ngFor="let link of dataService.getSelectedProject()?.links">
                        <li class="display_outref">
                            {{link.text}}
                        </li>
                    </a>
                </ul>
                <figure class="display_gallery">
                    <div class="display_thumbnail" *ngFor="let imginfo of dataService.getSelectedProject()?.gallery">
                        <img [src]="prependPath(imginfo[1])" />
                    </div>
                </figure>
            </div>

            <div class="display_section_divider">
            </div>

            <main id="display_story" [innerHTML]="dataService.getSelectedProject()?.story">
            </main>
        </div>
        <div id="display_clickable_sidebar" class="display_clickable">
            <ul class="display_links">
                <a [href]="link.destination"  *ngFor="let link of dataService.getSelectedProject()?.links">
                    <li class="display_outref">
                        {{link.text}}<br  />{{link.subtext}}
                    </li>
                </a>
            </ul>
            <figure class="display_gallery">
                <div class="display_thumbnail" *ngFor="let imginfo of dataService.getSelectedProject()?.gallery">
                    <img [src]="prependPath(imginfo[1])" />
                </div>
            </figure>
        </div>

    </div>

    <footer id="display_footer">
        <a href="https://github.com/Mimel" target="_blank"><img src="assets/github_icon.svg" /></a>
        <div id="display_footer_spacer">

        </div>
        <a href="mailto:imel.matt.r@gmail.com" target="_blank"><img src="assets/email_icon.svg" /></a>
    </footer>
</article>
