body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  margin: 0;
  padding: 0;
}

body > * {
  width: 100%;
}

#header {
  height: 100px;
  background-color: #333333;
}

#nameplate {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: right;
}

#name {
    display: none;
}

#name_large {
    display: inline-block;
}

#treeheader {
  position: absolute;
  right: 0px;
  width: auto;
}

#wrapper_main_content {
  display: flex;
  flex: 1;

  background-color: #EEEEEE;
  background-image: url("../assets/footer_lodyas.png");
}

#sidebar {
  width: 300px;
  height: inherit;

  background-color: #030303;
  background-image: url("../assets/navy_blue.png");
}

#project_display {
  flex-grow: 1;

  height: inherit;

  background-color: #FF9900;
}

@media (max-width: 1200px) {
    #nameplate {
        text-align: center;
    }

    #name {
        display: inline-block;
        width: 100%;
        max-width: 400px;
    }

    #name_large {
        display:  none;
    }
}
@media (max-width: 950px) {
    #sidebar {
        display: none;
    }
}
